<!DOCTYPE html>
<html>

<head>
<title>San Francisco Vehicle Larceny Prediction</title>
</head>

<body>
	<h2>Get your prediction!</h2>

<div>
  <form action="/result" method="POST">
	<label for="Time">Date & Time</label>
    <input type="text" id="Time" name="Time">
    <br>
    <label for="Latitude">Latitude</label>
    <input type="text" id="Latitude" name="Latitude">
    <br>
	<label for="Longitude">Longitude</label>
    <input type="text" id="Longitude" name="Longitude">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>